@{
    ViewData["Title"] = "AboutUs";
}
<!DOCTYPE html>
<!--https://www.w3schools.com/html/default.asp-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #e7e8d1;
            text-align: center;
            line-height: 1.6;
        }

        h2 {
            font-family: 'Georgia', serif;
            color: #b85042;
        }

        p {
            font-family: 'Courier New', Courier, monospace;
            font-size: 18px;
            color: #000000;
        }
    </style>
</head>
<body>

    <h2>About Us</h2>
    <p>Welcome to ABC Retail, a global e-commerce platform dedicated to showcasing the exceptional artistry of handcrafted products. Founded by visionary entrepreneur Jamie James, our mission is to connect artisans from around the world with a discerning audience. Through our platform, we aim to celebrate and promote the beauty of traditional craftsmanship while embracing contemporary design.</p>

    <h2>Our Mission</h2>
    <p> Our mission is to curate an extraordinary collection of handcrafted treasures that captivate and inspire. We are dedicated to providing a seamless and enjoyable shopping experience for our customers, ensuring that each purchase represents a meaningful connection to the artist behind the masterpiece. Through our platform, we aim to promote the value of craftsmanship, support artisans, and showcase their extraordinary talent to a global audience. </p>

    <h2>Our Vision</h2>
    <p>At ABC Retail, our vision is to create a global community where artisans can showcase their work and connect with art enthusiasts. We believe that art knows no boundaries and has the power to transcend cultures. By providing a scalable, accessible, and user-friendly platform, we strive to bring together a diverse range of artisans and their creations, fostering a vibrant exchange of ideas and experiences.</p>
</body>
</html>
