@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<!--https://www.w3schools.com/html/default.asp-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kuhamlo Crafts Emporium</title>
    <style>
        body {
            font-family: 'Comic Sans MS', cursive, sans-serif;
            background-color: #e7e8d1;
            background-image: url("~/../Images/background.jpg");
            background-size: 100%;
            background-repeat: no-repeat;
            text-align: center;
            color: #333;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #a7beae;
            filter: alpha(opacity=60);
            /* IE */ -moz-opacity: 0.8;
            /* Mozilla */ opacity: 0.8;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        h1 {
            font-size: 3em;
            margin-bottom: 20px;
        }

        p {
            font-size: 1.2em;
            margin-bottom: 20px;
        }

        .container {
            width: 80%;
            margin: 0 auto;
            text-align: center;
            padding: 20px;
        }

        .cta-button {
            background-color: #b85042;
            color: #fff;
            border: none;
            padding: 10px 20px;
            font-size: 1.2em;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            .cta-button:hover {
                background-color: #e04e42;
            }
    </style>
</head>
<body>

    <header>
        <h1> <b> Welcome to ABC Retail</b></h1>
        <p> <b>Your one-stop shop for Luxury Handmade Clay Pottery!</b></p>
    </header>

    <div class="container">

        <a href="/Home/OurStore" class="cta-button"> View Store</a> <!--https://www.google.com/search?q=how+to+add+comments+in+html&rlz=1C1CHBF_enZA1098ZA1098&oq=how+to+add+comments+in+ht&gs_lcrp=EgZjaHJvbWUqBwgAEAAYgAQyBwgAEAAYgAQyBggBEEUYOTIHCAIQABiABDIICAMQABgWGB4yCAgEEAAYFhgeMggIBRAAGBYYHjIICAYQABgWGB4yCAgHEAAYFhgeMggICBAAGBYYHjIICAkQABgWGB7SAQg3MDQ5ajBqN6gCALACAA&sourceid=chrome&ie=UTF-8-->
    </div>

</body>
</html>
